
.DS_Store
PizzaApp/PizzaApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
PizzaApp/PizzaApp.xcodeproj/project.xcworkspace/xcuserdata/devashreeshukla.xcuserdatad/UserInterfaceState.xcuserstate
PizzaApp/PizzaApp.xcodeproj/xcuserdata/devashreeshukla.xcuserdatad/xcschemes/xcschememanagement.plist
